<p class="is-size-1 has-text-weight-bold has-text-centered" id="">ユーザー編集</p>
<br>

<% if @user.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="columns is-centered">
    <div class="column is-4">
      <%= form_for @user do |f| %>
        <div class="field">
          <%= f.label :username, "ユーザー名", class: "label" %>
          <%= f.text_field :username, class: "input" %>
        </div>

        <div class="field">
          <%= f.label :email, "メールアドレス", class: "label" %>
          <%= f.email_field :email, class: "input" %>
        </div>
        
        <%= f.label :image,"プロフィール画像", class: "label" %>
        <div>
          <%= f.file_field :image, class: "" %>
        </div>
        
        <br>
        <%= f.submit "更新", class: 'button is-fullwidth is-primary' %>
      <% end %>
    </div>
  </div>
