<div class="columns is-centered">
  <div class="column is-7">
    <div class="has-text-centered">
      <% if @user.image? %>
        <img class="" width="200" height="200" src="<%= @user.image.url %>" >
      <% else %>
        <%= image_tag "/assets/default.jpg", size: '200x200', class: '' %>
      <% end %>
    </div>
    
    <p class="is-size-2 has-text-weight-bold has-text-centered"><%= @user.username %></p>
    
    <% if current_user == @user %>
      <p class="has-text-centered"><%= @user.email %></p>
    <% else %>
      <div class="is-centered mt-3 buttons">
        <%= render 'relationships/follow_button', user: @user %>
        
        <% if @isRoom == true %>
          <button class="button is-rounded">
            <%= link_to room_path(@roomId) do %>
              <span class="icon">
                <i class="far fa-envelope"></i>
              </span>
              <span class="has-text-weight-bold">メッセージ</span>
            <% end %>
          </button>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= button_tag(type: 'submit', class: 'button is-rounded') do %>
              <span class="icon">
                <i class="far fa-envelope"></i>
              </span>
              <span class="has-text-weight-bold">メッセージ</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    
    <div class="has-text-centered mt-3">
      <% if current_user == @user %>
        <button class="button is-rounded">
          <%= link_to rooms_path do %>
            <span class="icon">
              <i class="far fa-envelope"></i>
            </span>
            <span class="has-text-weight-bold">メッセージ</span>
          <% end %>
        </button>
        <button class="button is-rounded">
          <%= link_to edit_user_path(@user) do %>
            <span class="icon">
              <i class="fas fa-user-edit"></i>
            </span>
            <span class="has-text-weight-bold">編集</span>
          <% end %>
        </button>
      <% end %>
    </div>

    <div class="tabs is-centered mt-5">
      <ul>
        <li class="has-text-weight-bold"><a href="<%= user_path(@user) %>" >レビュー</a></li>
        <li class="has-text-weight-bold"><a href="<%= followings_user_path(@user) %>">フォロー</a></li>
        <li class="is-active has-text-weight-bold"><a href="<%= followers_user_path(@user) %>">フォロワー</a></li>
        <li class="has-text-weight-bold"><a href="<%= likes_user_path(@user) %>">お気に入り</a></li>
      </ul>
    </div>
    
    <div class="has-text-centered">
      <div>
        <p class="heading is-active">followers</p>
        <p class="title"><%= @count_followers %></p>
      </div>
    </div>
    
  </div>
</div>

<% @followers.each do |follower| %>
  <div class="columns is-centered">
    <div class="column  is-7-tablet is-5-desktop is-4-widescreen">
      <div class="columns is-gapless mb-5 pb-5 is-mobile post-border">
        <div class="column is-two-fifths photo">
          <%= link_to user_path(follower.id) do %>
            <% if follower.image? %>
              <img class="ho" width="64" height="64" src="<%= follower.image.url %>" >
            <% else %>
              <%= image_tag "/assets/default.jpg", size: '64x64', class: "ho" %>
            <% end %>
          <% end %>
        </div>
        <div class="column ml-5">
          <p class="is-size-6 has-text-weight-bold mb-1"><%= link_to follower.username, user_path(follower.id) %></p>
          <p><%= render 'relationships/follow_button', user: follower %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<nav class="pagination is-centered is-rounded mt-5" role="navigation" aria-label="pagination">
  <%= paginate @followers %>
</nav>