<div class="columns is-centered">
  <div class="column is-7">
    <div class="has-text-centered">
      <% if @user.image? %>
        <img class="" width="200" height="200" src="<%= @user.image.url %>" >
      <% else %>
        <%= image_tag "/assets/default.jpg", size: '200x200', class: '' %>
      <% end %>
    </div>
    
    <p class="is-size-2 has-text-weight-bold has-text-centered"><%= @user.username %></p>
    
    <% if current_user == @user %>
      <p class="has-text-centered"><%= @user.email %></p>
    <% else %>
      <div class="is-centered mt-3 buttons">
        <%= render 'relationships/follow_button', user: @user %>
        
        <% if @isRoom == true %>
          <button class="button is-rounded">
            <%= link_to room_path(@roomId) do %>
              <span class="icon">
                <i class="far fa-envelope"></i>
              </span>
              <span class="has-text-weight-bold">メッセージ</span>
            <% end %>
          </button>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= button_tag(type: 'submit', class: 'button is-rounded') do %>
              <span class="icon">
                <i class="far fa-envelope"></i>
              </span>
              <span class="has-text-weight-bold">メッセージ</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    
    <div class="has-text-centered mt-3">
      <% if current_user == @user %>
        <button class="button is-rounded">
          <%= link_to rooms_path do %>
            <span class="icon">
              <i class="far fa-envelope"></i>
            </span>
            <span class="has-text-weight-bold">メッセージ</span>
          <% end %>
        </button>
        <button class="button is-rounded">
          <%= link_to edit_user_path(@user) do %>
            <span class="icon">
              <i class="fas fa-user-edit"></i>
            </span>
            <span class="has-text-weight-bold">編集</span>
          <% end %>
        </button>
      <% end %>
    </div>

    <div class="tabs is-centered mt-5">
      <ul>
        <li class="is-active has-text-weight-bold"><a href="<%= user_path(@user) %>" >レビュー</a></li>
        <li class="has-text-weight-bold"><a href="<%= followings_user_path(@user) %>">フォロー</a></li>
        <li class="has-text-weight-bold"><a href="<%= followers_user_path(@user) %>">フォロワー</a></li>
        <li class="has-text-weight-bold"><a href="<%= likes_user_path(@user) %>">お気に入り</a></li>
      </ul>
    </div>
    
    <div class="has-text-centered">
      <div>
        <p class="heading is-active">Reviews</p>
        <p class="title"><%= @count_reviews %></p>
      </div>
    </div>

  </div>
</div>

<div class="columns is-centered">
  <div class="column is-7">
    <% @reviews.each do |review| %>
      <article class="message is-dark">
        <div class="message-body">
          <%= link_to review.user.username, user_path(review.user.id), class: 'is-size-6 has-text-weight-bold ml-1 mr-2' %>
          <%= review.updated_at.strftime("%Y-%m-%d %H:%M") %>
          <br>
          <p class="mt-2">【<%= link_to review.post.title, post_path(review.post) %>】</p>

          <% f = review.score * 20 %>
            <div class="star-rating mb-3">
              <div class="star-rating-front " style="width: <%= f %>%">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>

         <%= review.content %>
        </div>
      </article>
    <% end %>
  </div>
</div>

<nav class="pagination is-centered is-rounded mt-5" role="navigation" aria-label="pagination">
  <%= paginate @reviews %>
</nav>