<p class="is-size-3  has-text-weight-bold has-text-centered">本を検索しましょう</p>
<br>

<div class="columns is-centered">
  <div class="column  is-7-tablet is-5-desktop is-4-widescreen">
    <%= search_form_for @q, url:search_path do |f| %>

    <div class="field">
      <%= f.label :title_or_content_or_author, "フリーワード", class: 'label' %>
      <p class="control has-icons-left">
        <%= f.search_field :title_or_content_or_author_cont, class: 'input', placeholder: "作品名、作者、キーワードで探す" %>
        <span class="icon is-small is-left">
          <i class="fas fa-book-open"></i>
        </span>
      </p>
    </div>
    
    <div class="field">
      <%= f.label :average, "評価", class: 'label mt-4' %>
      <div class="control has-icons-left">
        <div class="select">
          <%= f.select :average_gteq, {'１以上': 1, '２以上': 2, '３以上': 3, '４以上': 4, '５以上': 5}, {include_blank: '指定なし'} %> 
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-star" style="color: #ffcc33;"></i>
        </div>
      </div>
    </div>
      
    <div class="mt-4 mb-2">
      <%= f.label :categories_id_eq, "カテゴリー", class: 'label mt-4' %>
    </div>
    <div class="columns is-centered is-mobile is-gapless ml-5">
      <div class="column">
        <ul>
          <li><%= f.radio_button :categories_id_eq, '',{:checked => true} %> 指定なし</li>
          <% i = 1 %>
          <% while i <= 7 %>
            <li><%= f.radio_button :categories_id_eq, i %><%= @categories.find(i).name %></li>
            <% i+= 1 %>
          <% end %>
        </ul>
      </div>
      <div class="column">
        <ul>
          <% y = 8 %>
          <% while y <= 15 %>
            <li><%= f.radio_button :categories_id_eq, y %><%= @categories.find(y).name %></li>
            <% y+= 1 %>
          <% end %>
        </ul>
      </div>
    </div>
      
    <div class="columns is-centered mt-3">
      <div class="column is-6">
        <%= button_tag(type: 'submit', class: 'button is-info is-rounded is-fullwidth') do %>
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
          <span>検索</span>
        <% end %>
      </div>
    </div>
      
    <% end %>
  </div>
</div>