<p class="is-size-2 has-text-weight-bold has-text-centered" id="">本を検索しましょう</p>
<br>

  <div class="columns is-centered">
    <div class="column is-4">
      <%= search_form_for @q, url:search_path do |f| %>
      
      <div class="field">
        <%= f.label :title_or_content_or_author, "フリーワード", class: 'label' %>
        <p class="control has-icons-left">
          <%= f.search_field :title_or_content_or_author_cont, class: 'input', placeholder: "作品名、作者、キーワードで探す" %>
          <span class="icon is-small is-left">
            <i class="fas fa-book-open"></i>
          </span>
        </p>
      </div>
      
      <div class="field">
        <%= f.label :average, "評価", class: 'label mt-4' %>
        <div class="control has-icons-left">
          <div class="select">
            <%= f.select :average_gteq, {'１以上': 1, '２以上': 2, '３以上': 3, '４以上': 4, '５以上': 5}, {include_blank: '指定なし'}, class: '' %> 
          </div>
          <div class="icon is-small is-left">
            <i class="fas fa-star" style="color: #ffcc33;"></i>
          </div>
        </div>
      </div>
        
      <div class="mt-4">
        <%= f.label :categories_id_eq, "カテゴリー", class: 'label mt-4' %>
        <div class="">
          <p><%= f.radio_button :categories_id_eq, '', {:checked => true} %> 指定なし</p>
          <div class="">
            <%= f.collection_radio_buttons :categories_id_eq, @categories, :id, :name, class: '' %>
          </div>
        </div>
      </div>
        
      <div class="columns is-centered mt-3">
        <div class="column is-6">
          <%= button_tag(type: 'submit', class: 'button is-info is-rounded is-fullwidth') do %>
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
            <span>検索</span>
          <% end %>
        </div>
      </div>
        
      <% end %>
    </div>
  </div>

<div class="container" id="app">
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <!-- Any other Bulma elements you want -->
      <table>
        <tr>
          <td>Jhon</td>
          <td>Hi</td>
        </tr>
      </table>
      <input type="text" class="input" />
    </div>
    <button class="modal-close"></button>
  </div
  <textarea style="position:absolute;z-index: 9999" name="" id="" cols="30" rows="2"></textarea>
  <br /><br /><br />
  <p>
    <button class="button" id="showModal">Show</button>
  </p>
</div>

<%= javascript_include_tag 'reviews.js' %>