
<div class="mt-4 mb-2">
  <%= f.label :categories_id_eq, "カテゴリー", class: 'label mt-4' %>
</div>
<div class="columns is-centered is-mobile is-gapless ml-5">
  <div class="column">
    <ul>
      <li><%= f.radio_button :categories_id_eq, '', {:checked => true} %> 指定なし</li>
      <% i = 1 %>
      <% while i <= 7 %>
        <li><%= f.radio_button :categories_id_eq, i %><%= @categories.find(i).name %></li>
        <% i+= 1 %>
      <% end %>
    </ul>
  </div>
  <div class="column">
    <ul>
      <% y = 8 %>
      <% while y <= 16 %>
        <li><%= f.radio_button :categories_id_eq, y %><%= @categories.find(y).name %></li>
        <% y+= 1 %>
      <% end %>
    </ul>
  </div>
</div>