<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <h5 class="mb-5 text-center	">検索結果</h5>
    
    <% @posts.each do |post| %>
      <div class="media mb-3">
        <img class="mr-4 rounded" width="150" height="150" src="<%= post.image.url if post.image? %>" alt="">
        <div class="media-body">
          <h5 class="mt-0"><%= link_to post.title, post_path(post) %></h5>
          <p><%= post.author %></p>
          <% post.categories.each do |category| %>
            <p><%= category.name %></p>
          <% end %>
          <p class=""><%= post.content %></p>
          
          <div class="content average-score">
            <div class="star-rating mb-2">
              <div class="star-rating-front" style="width: <%= post.review_score_percentage %>%">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
            <div class="average-score-display ml-3 pt-2">
              <%= post.avg_score %>点（<%= post.reviews.count %>件のレビュー）
            </div>
          </div>
          
        </div>
      </div>
    <% end %>
  </div>
</div>