<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <h5 class="mb-5 text-center	">検索結果</h5>
    
    <% @posts.each do |post| %>
      <div class="media mb-3">
        <img class="mr-4 rounded" width="150" height="150" src="<%= post.image.url if post.image? %>" alt="">
        <div class="media-body">
          <h5 class="mt-0"><%= link_to post.title, post_path(post) %></h5>
          <p><%= post.author %></p>
          <% post.categories.each do |category| %>
            <p><%= category.name %></p>
          <% end %>
          <p class=""><%= post.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>