<p class="is-size-3 has-text-weight-bold has-text-centered">検索結果 : <%= @search_count.count %>件</p>
<br>

<% if @search_count.count == 0 %>
  <p class="has-text-centered mt-5">
    該当する作品が見つかりませんでした。<br>
    条件を変更して再検索してください。
  </p>
  <%= link_to :back do %>
    <div class="re">
      <button class="button is-info is-rounded mt-5">再検索</button>
    </div>
  <% end %>
<% end %>

<% unless @search_count.count == 0 %>
  <p class="is-size-５ has-text-centered">並び替え：</p>
  <div class="buttons has-addons is-centered mb-5">
    <%= search_form_for @q, url:review_sort_path do |f| %>
      <%= f.hidden_field :title_or_content_or_author_cont %>
      <%= f.hidden_field :average_gteq %> 
      <%= f.hidden_field :categories_id_eq %>
      <%= f.submit 'レビュー評価順', class: 'button is-text' %>
    <% end %>
    
    <%= search_form_for @q, url:fav_sort_path do |f| %>
      <%= f.hidden_field :title_or_content_or_author_cont %>
      <%= f.hidden_field :average_gteq %> 
      <%= f.hidden_field :categories_id_eq %>
      <%= f.submit 'お気に入り数順', class: 'button is-text' %>
    <% end %>
  </div>
  <br>
<% end %>

<% @posts.each do |post| %>
<div class="con2 mb-5 pb-5">
  <div class="item1 mr-3">
    <%= link_to post_path(post) do %>
      <img class="mr-4" width="150" height="240" src="<%= post.image.url if post.image? %>" alt="">
    <% end %>
  </div>
  <div class="item2">
    <p class="is-size-5 has-text-weight-bold"><%= link_to post.title, post_path(post) %></p>
    <p><%= post.author %></p>
    <% post.categories.each do |category| %>
      <small><%= category.name %></small>
    <% end %>
    <br>
    <small>お気に入り数：<%= post.favorites.count %></small>
    
    <div class="content average-score">
      <div class="star-rating mb-2">
        <div class="star-rating-front" style="width: <%= post.review_score_percentage %>%">★★★★★</div>
        <div class="star-rating-back">★★★★★</div>
      </div>
      <div class="average-score-display ml-3 pt-2">
        <%= post.avg_score %>点（<%= post.reviews.count %>件）
      </div>
    </div>
   
    <p class="post-content"><%= post.content %></p>
  </div>
</div>
<% end %>

<nav class="pagination is-rounded mt-5" role="navigation" aria-label="pagination">
<%= paginate @posts %>
</nav>