<p class="is-size-3 has-text-weight-bold has-text-centered mb-5">メッセージ</p>
<br>

<% @anotherEntries.each do |e| %>
  <div class="columns is-centered">
    <div class="column  is-7-tablet is-5-desktop is-4-widescreen">
      <div class="columns is-gapless mb-5 pb-5 is-mobile post-border">
        <div class="column is-two-fifths photo">
          <%= link_to user_path(e.user.id) do %>
            <% if e.user.image? %>
              <img class="ho" width="64" height="64" src="<%= e.user.image.url %>" >
            <% else %>
              <%= image_tag "/assets/default.jpg", size: '64x64', class: "ho" %>
            <% end %>
          <% end %>
        </div>
        <div class="column ml-5">
          <p class="is-size-5 has-text-weight-bold"><%= link_to e.user.username, room_path(e.room.id) %></p>
          <%= link_to room_path(e.room.id) do %>
            <p>トークルームへ >></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @anotherEntries.empty? %>
  <div class="columns is-centered">
    <div class="column  is-7-tablet is-5-desktop is-4-widescreen">
      <p class="mb-5 has-text-centered">
        トーク履歴がありません。<br>
        他ユーザーのプロフィールからメッセージを送りましょう。
      </p>
      <br>
      
      <% @users.each do |user| %>
        <% unless user == current_user %>
          <div class="columns is-gapless mb-5 pb-5 is-mobile post-border">
            <div class="column is-two-fifths photo">
              <%= link_to user_path(user.id) do %>
                <% if user.image? %>
                  <img class="ho" width="64" height="64" src="<%= user.image.url %>" >
                <% else %>
                  <%= image_tag "/assets/default.jpg", size: '64x64', class: "ho" %>
                <% end %>
              <% end %>
            </div>
            <div class="column ml-5">
              <p class="is-size-5 has-text-weight-bold"><%= link_to user.username, user_path(user.id) %></p>
              <%= link_to user_path(user.id) do %>
                <p>プロフィールへ >></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<nav class="pagination is-centered is-rounded mt-5" role="navigation" aria-label="pagination">
  <%= paginate @users %>
</nav>

<div class="aaa columns is-mobile">
  <div class="column" >
    <button class="button upper2 has-text-weight-bold" id="show">
      <span class="icon">
        <i class="fas fa-search"></i>
      </span>
      <span>ユーザー検索</span>
  </button>
  </div>
</div>

<div class="modal 2">
  <div class="modal-background 2"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title has-text-weight-bold">ユーザー検索</p>
        <button class="delete" aria-label="close" id="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="buttons is-centered">
          <%= form_with(url: user_search_users_path, method: :get, local: true) do |f| %>
            <div class="field has-addons mb-5">
        			<div class="control has-icons-left">
      		  		<%= f.text_field :username, placeholder: "ユーザー名を入力", class: 'input is-rounded' %>
      		  		<span class="icon is-small is-left">
                  <i class="fas fa-search"></i>
                </span>
      		 		</div>
      			</div>
          <% end %>
        </div>
      </section>
      <footer class="modal-card-foot"></footer>
    </div>
  </div>
</div>

<%= javascript_include_tag 'modal.js' %>