<table>
  <tbody>
      <tr>
        <td>タイトル：<%= @post.title %></td>
        <td> /著者：<%= @post.author %></td>
        <td> /内容：<%= @post.content %></td>
        <td> /画像：<%= image_tag @post.image.url if @post.image? %></td>
        <td>
          /カテゴリー
          <% @post.categories.each do |category| %>
            <%= category.name %>
          <% end %>
        </td>
      </tr>
  </tbody>
</table>

<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @post.title %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @post.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @post.avg_score %>点（<%= @post.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <%= render 'reviews/form', review: @review, post: @post %>
      </div>
    </div>
  </div>
</section>

<table class="table is-fullwidth has-text-centered">
  <thead>
    <tr>
      <th>ユーザー</th><th>点数</th><th>内容</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to review.user.username, user_path(review.user.id) %></td>
        <td><%= review.score %></td>
        <td><%= review.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <% if current_user.already_favorited?(@post) %>
    <%= link_to post_favorites_path(@post), method: :delete do %>
      <i class="fas fa-heart"></i>
    <% end %>
  <% else %>
    <%= link_to post_favorites_path(@post), method: :post do %>
      <i class="far fa-heart"></i>
    <% end %>
  <% end %>
  <%= @post.favorites.count %>
<% else %>
  <%= link_to new_user_session_path do %>
      <i class="far fa-heart"></i>
    <% end %>
  <%= @post.favorites.count %>
<% end %>