<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <%= link_to root_path do %>
        <strong class="is-size-3 logo">Find Book</strong>
      <% end %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        
        <div class="field has-addons mr-5">
          <% if user_signed_in? %>
            <p class="control">
              <%= link_to root_path do %>
                <button class="button is-rounded is-warning">
                  <span class="icon">
                    <i class="fas fa-home fa-lg"></i>
                  </span>
                </button>
              <% end %>
            </p>
            <p class="control">
              <%= link_to user_path(current_user), class: "" do %>
                <button class="button is-rounded is-warning">
                  <span class="icon">
                    <i class="fas fa-user fa-lg"></i>
                  </span>
                </button>
              <% end %>
            </p>
            <p class="control">
              <%= link_to rooms_path do %>
                <button class="button is-rounded is-warning">
                  <span class="icon">
                    <i class="far fa-envelope fa-lg"></i>
                  </span>
                </button>
              <% end %>
            </p>
            <p class="control">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <button class="button is-rounded is-warning">
                  <span class="icon">
                    <i class="fas fa-sign-out-alt fa-lg"></i>
                  </span>
                </button>
              <% end %>
            <% else %>
            </p>
            <p class="control">
              <%= link_to new_user_session_path, class: "button is-warning" do %>
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span class="has-text-weight-bold">ログイン</span>
              <% end %>
            </p>
            <p class="control">
              <%= link_to new_user_registration_path, class: "button is-warning" do %>
                <span class="icon">
                  <i class="fas fa-pen-square"></i>
                </span>
                <span class="has-text-weight-bold">新規登録</span>
              <% end %>
            </p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</nav>

<%= javascript_include_tag 'navbar.js' %>